<h1>recipes </h1>
<a href="/new">Create new Recipe</a>
{{#each recipes }}
<h3>{{this.title}}</h3>
<ul>
    <li>{{this.description}}</li>
    <li>{{this.instructions}}</li>
    <h5>Ingredients</h5>
    <ul>{{#each this.ingredients}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</ul>
<a href={{this._id}}><button>view</button></a>
{{/each}}