<a href="/new">
    <h3>Create new Recipe</h3>
</a>
{{#each recipes }}
<div class="six coulmns">
    <h3>{{this.title}}</h3>
    <ul>
        <li>{{this.description}}</li>
        <li>{{this.instructions}}</li>
        <h5>Ingredients</h5>
        <ul>{{#each this.ingredients}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </ul>
    <a href={{this._id}}><button class="button-primary">view</button></a>
    {{/each}}
</div>